<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.comsats.lifelines">

    <application
        android:allowBackup="true"
        android:icon="@drawable/heart"
        android:label="@string/app_name"
        android:roundIcon="@drawable/heart"
        android:supportsRtl="true"
        android:theme="@style/Theme.LifeLines">
        <activity android:name="com.comsats.miscellaneous.ListOfAllActivities">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.comsats.login.Login">

            <!--             <intent-filter>-->
            <!--             <action android:name="android.intent.action.MAIN" />-->
            <!--             <category android:name="android.intent.category.LAUNCHER" />-->
            <!--             </intent-filter>-->

        </activity>
        <activity android:name=".MainActivity">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>

        <activity android:name="com.comsats.practice.FocusPractice">


        </activity>

    </application>

</manifest>